*.o
*.os
*.pyc
*.aux
.sconf_temp
.sconsign.dblite
config.log
doc/*.tag
doc/html
doc/xml
doc/doxygen.conf
lib/libmops_daymops.*
tests/.tests
tests/Track-unitTests
tests/detectionProximityUnitTests
tests/fieldProximityUnitTests
tests/findTracklets-unittests
tests/generalUnitTests
tests/linkTracklets-unittests
tests/orbitProximityUnitTests
examples/collapseTrackletsMain
examples/fieldProximityMain
examples/findLinkableObjectsMain
examples/findTrackletsMain
examples/linkTrackletsMain
examples/orbitProximityMain
examples/readTracksWriteStats
examples/removeSubsetsMain
ups/*.cfgc
python/lsst/mops/daymops/_daymopsLib.so



